// font-size vars
$fontsize-large-xxxx = 30px /*no*/
$fontsize-large-xxx = 24px /*no*/
$fontsize-large-xx = 20px /*no*/
$fontsize-large-x = 18px /*no*/
$fontsize-large = 16px /*no*/
$fontsize-medium = 14px /*no*/
$fontsize-small = 12px /*no*/
$fontsize-small-s = 10px /*no*/

// radius-size
$radius-size-medium = 3px /*no*/
